.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  background-color: #565656;
  width: 550px;
  height: 300px;
  border-radius: 10px;
}

.headerText {
  color: #e5e5e5;
  margin: 0px 0px 20px 0px;
  font-weight: 700;
  margin-top: 10px;
}

.textFields {
  background-color: #494949;
  color: #e5e5e5;
  text-align: center;
  border-radius: 5px;
  border: none;
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
}

.textFields:focus {
  outline: none;
  border:0.8px solid #e5e5e5;
  
}

.textFields::placeholder {
  color: #acacac;
}

.textFields:focus::placeholder {
  color: transparent;
}

.buttonFields {
  background-color: #8e3b4b;
  color: #e6e6e6;
  border: none; 
  width: 405px;
  height: 40px;
  margin-bottom: 20px;
}

.buttonFields:hover {
  border: 0.8px solid #ffffff;
}

.buttonFields:active {
  background-color: #662834;
}

.successfulReg {
  background-color: #34be66;
  color: white;
  font-weight: 400;
  font-size: 14px;
  width: 550px;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  text-align: center;
}

span {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #dfa7b2;
}